[*.cs]

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = none

# IDE0008: Use explicit type
dotnet_diagnostic.IDE0008.severity = silent

# IDE0009: Member access should be qualified.
dotnet_diagnostic.IDE0009.severity = none

# IDE0003: Remove qualification
dotnet_diagnostic.IDE0003.severity = none

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none

# IDE0049: Simplify Names
dotnet_diagnostic.IDE0049.severity = none
